page-subscription-list {

  .card-background{
    background-color: #E57373;
  }

  .card-number{
    text-align: center;
    color: #FFF;
    font-size: 8em;
    padding-top: 25%;
  }

  .card-title{
    color: #FFF;
    text-align: center;
    padding-top: 5%;
  }

  .card-one{
    height: auto;
  }

  .specific-card {
    height: 100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
}
