page-subscription-list {

  .card-background{
    background-color: #E57373;
  }

  .card-number{
    text-align: center;
    color: #FFF;
    font-size: 72px;
  }

  .card-title{
    color: #FFF;
    text-align: center;
  }

  .specify-card{
    height: 300px;
  }

}
